.live .controls-list{
  background-color: rgba(10, 10, 10, 0.1);
  margin-bottom: 5px;
}

.live .live-icon {
  color: #fff;
  margin-left: 0.2vw;

}

.live .live-icon .icon {
  background-color: #ee101b;
  border-radius: 50%;
  width: 10px ;
  height:10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}